body {
  margin: 0px;
}

ul {
  padding-right: 10px;
}

li::maker {
  color: blue;
}
.container {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
  border: 1px solid #ccc;
}
.banner {
  position: relative;
  text-align: center;
  color: white;
}
.banner-img {
  width: 50%;
}
.banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.nav {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ccc;
  font-size: 15px;
  margin: 0px;
  padding: 10px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 0px;
}
.info-target {
  background-color: lightgray;
  margin: 0px;
  padding: 10px 10px 10px 40px;
}
.info-personel {
  background-color: lightgray;
  margin-left: 0px;
  padding: 10px 10px 10px 40px;
}
.exp {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
  padding: 10px 250px 10px 250px;
}

.exp-detail {
  display: grid;
  align-items: start;
  grid-template-columns: 3fr 1fr;
  row-gap: 10px;
  border: 1px solid #ccc;
}

.exp-detail-header {
  width: auto;
  height: 60px;
  grid-column: span 1;
  align-content: center;
  justify-items: center;
}
.exp-detail-icon {
  width: auto;
  height: 60px;
  grid-column: span 1;
  align-content: center;
  justify-items: center;
}
.exp-detail-content {
  grid-column: span 2;
  width: auto;
  height: auto;
}
.exp-detail-content-grid-1 {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.exp-detail-content-grid-1-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid blue;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.exp-detail-content-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.exp-detail-content-grid-2-item-top {
  grid-column: span 6;
  margin: 15px;
}

.exp-detail-content-grid-2-item-color {
  width: 50px;
  height: 2px;
  background-color: blue;
  margin: 15px;
}
.exp-detail-content-grid-2-item-none {
  width: 50px;
  height: 2px;
  background-color: lightgray;
  margin: 15px;
}

.cert {
  background-color: white;
}
.cert-header {
  background-color: white;
  margin: 10px;
  padding: 10px 250px 10px 250px;
}
.cert-detail {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 10px 250px 10px 250px;
}

.cert-detail-item-left {
  grid-column: span 1;
  border-left: 2px solid #d6c08d;
  margin: 10px;
  padding-left: 10px;
}

.cert-detail-item-color {
  grid-column: span 2;
  width: 100%;
  height: 2px;
  background-color: #d6c08d;
  margin: 10px;
  margin: 10px;
  padding-left: 10px;
}
.cert-detail-item {
  grid-column: span 1;
  margin: 10px;
  padding-left: 10px;
}

.cert-detail-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cert-detail-img {
  width: 80%;
}

.project {
  background-color: white;
}
.project-header {
  background-color: white;
  margin: 10px;
  padding: 10px 250px 10px 250px;
}
.project-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid lightgray;
  margin: 10px;
  padding: 10px 250px 10px 250px;
}
.project-detail-item {
  grid-column: span 1;
  margin: 05px;
  padding: 10px;
}

.project-detail-img {
  width: 100%;
}

.project-detail-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}
.project-detail-content-grid {
  border: 1px solid lightgray;
}

.project-detail-content-grid-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h3 {
  text-transform: uppercase;
}

.oval-text {
  border-radius: 20px;
  background: lightskyblue;
  width: 50px;
  height: 25px;
  margin-top: 10px;
  padding-left: 10px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightgray;
  margin: 10px;
  padding: 10px 250px 10px 250px;
  align-items: center;
  justify-items: center;
}

.contact-detail {
  grid-column: span 1;
}
